/* media queries */
@media screen and (max-width:991px) {
    html,body{
        overflow-x:hidden;
        font-size: 60%;
    }
    .footer-display div:nth-child(3){
        display: none;
    }
    .footer-display {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:768px) {
    html{
        overflow-x: hidden;
    }
    
    #menu-btn {
        display: block;
    }
    .home-display{
        flex-direction: column;
    }
    .home-display > div {
        width: 100%;
    }
    .home-display h1 {
        font-size: 3rem;
        text-align: center;
        margin-top: 100px;
    }
    .home-img img{
        width: 200px;
        margin-top: -30px;
        animation:animationImg 2s linear  infinite ;
    }
    .home-item .btn {
        margin: 10px auto;
    }
    @keyframes animationImg {
        0%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-40px);
        }
        100%{
            transform: translateY(10px);
        }
    }
    .home {
        background-position: center;
    }
    .heading {
        font-size: 5rem;
    }
    .navbar {
        position: absolute;
        top: 100%;
        display: block;
        background: #fff;
        left:-100%;
        width: 100%;
        padding: 3rem;
    }
    .navbar.active {
        left: 0;
    }
    header .navbar a {
        display: block;
        margin: 20px 0;
        font-size: 2rem;
        border-bottom: 2px dashed #443;
        padding: 5px;
    }
    .heading span {
        font-size: 2.3rem;
    }
    .about > .row {
        display: block;
        margin-top: 50px;
    }
    .container-fluid .container .row {
        grid-template-columns: auto;
    }
    .container-fluid .container {
        width: 100%;
    }
    .footer-display  {
        grid-template-columns: auto;
    }
    .footer-display > div {
        width: 100%;
        margin-left: 10px;
    }
    
    .created{
        font-size: 1.7rem;
    }
}